.main {
    width: 100%;
    background: #fff;
    .contenedor-dinamico {
        width: 100%;
        .carousel {
            
            .carousel-inner {
                
                .carousel-item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}